.core{
	color: #147;
	background: #eef;
	border: 2px solid #147;
	/* border-color: #147; */
	border-left-width: 5px;
	padding: 3px 3px 3px 7px;
}

.core.info{
	color: #159;
	border-color: #159;
	background: #eef;
}

.core.info p {
	margin: 0 0 5px !important;
}

.core.success{
	color: #fff;
	background: #383;
}

.core.warning{
	color: #fff;
	background: #a22;
}

[contenteditable=true]{
	padding: 1em;
	border: 2px dashed blue;
}

#response{
	background:#def;
	color: #333;
}

/* #тэги */
.tags>*[class*=button] {
	display: inline-block;
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 3px;
	background-color: #f2f2f2;
	color: #333;
	border: none;
}
.tags>*[class*=button]:hover {
	background-color: #ffe8d0;
}

*[class *= 'button'] {
	cursor: pointer;
}

*[class *= 'flex-'] {
	display: flex;
}

input, select, textarea {
	max-width: 100%;
}

code {
	white-space: pre-wrap !important;
}

ol{
	list-style-type: none;
	counter-reset: li;
}

ol li:before {
	color: #fff;
	background: #555;
	display: inline-block;
	text-align: center;
	font-size: 1.2em;
	margin: 3px;
	padding: 2px;
	line-height: 22px;
	width: 22px;
	height: 22px;
	counter-increment: li;
	content: counters(li,".");
	border-radius: 3px;
	box-shadow: 2px 2px 0 0 #ccc;
}

.active{
	font-weight: 700;
}

.not-public {
	background: orange;
	border: dotted 1px;
	text-align: center;
	font-weight: 300;
}



@media (max-width: 450px) {
	div.content {
		padding: 5px;
		margin: 0;
	}
	/* Убираем */
	img[data-src][src*='data:image']{
		display: none;
	}
}
