.core{
	color: #147;
	background: #eef;
	border: 2px solid;
	border-left-width: 5px;
	padding: 3px 3px 3px 7px;
}

.info p {
	margin: 0 0 5px !important;
}

.core.info{
	color: #159;
	background: #eef;
	border: 2px solid;
	border-left-width: 5px;
	padding: 3px 3px 3px 7px;
}

[contenteditable=true]{
	padding: 1em;
	border: 2px dashed blue;
}

.not-public {
	background: orange;
	border: dotted 1px;
	text-align: center;
	font-weight: 600;
}

#response{
	background:#def;
	color: #333;
}

/* #тэги */
.tags>span {
	display: inline-block;
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 3px;
	background-color: #f2f2f2;
	color: #333;
	border: none;
}
.tags>span:hover {
	background-color: #ffe8d0;
}

*[class *= 'button'] {
	cursor: pointer;
}

*[class *= 'flex-'] {
	display: flex;
}

@media (max-width: 450px) {
	div.content {
		padding: 5px;
		margin: 0;
	}
	/* Убираем */
	img[data-src][src*='data:image']{
		width:0;
		height:0;
	}
}
